src/main/resources/META-INF/hrpc.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns="http://www.blackdev.com/hrpc" xmlns:xsd="http://www.w3.org/2001/XMLSchema"   xmlns:bean="http://www.springframework.org/schema/beans" targetNamespace="http://www.blackdev.cn/hrpc" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xsd:import namespace="http://www.springframework.org/schema/beans" />
    <xsd:element name="service">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="bean:identifiedType">
                    <xsd:attribute name="interfaceName" type="xsd:string" use="required" />
                    <xsd:attribute name="ref" type="xsd:string" use="required" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="reference">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="bean:identifiedType">
                    <xsd:attribute name="interfaceName" type="xsd:string" use="required" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="bean:identifiedType">
                    <xsd:attribute name="ipAddress" type="xsd:string" use="required" />
                    <xsd:attribute name="port" type="xsd:string" use="required" />
                    <xsd:attribute name="protocol" type="xsd:string" use="optional" default="hessian" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="interceptor">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="bean:identifiedType">
                    <xsd:attribute name="interfaceName" type="xsd:string" use="required" />
                    <xsd:attribute name="ref" type="xsd:string" use="required" />
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>